/* CSS for the REPAIR Form */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
}

table th {
    background-color: #f2f2f2;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}
section{
    color: black;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    color: #1d1b1b;
  
}
header {
   
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #444;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

section {
    padding: 20px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(31, 31, 55);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    width: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}
.link a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	color: #ffff;
	padding: 10px;
}
.link a:hover{
	background-color: orange;
	font-size: 18px;
}
.active{
	background-color: blue;
	font-size: 18px;
}
.red{
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    margin-left: -500px;
}
.rede {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}
.rede a {
    text-decoration: none;
    color: #fff;
    text-align: left;
}
.red a {
    text-decoration: none;
    color: #fff;
    text-align: left;
}

.red:hover {
    background-color: #cc0000;

}


  